.header_div {
  display: flex;
  flex-direction: row;
  /* width: 100vh; */
  outline: auto;
}

.income_button,
.expense_button {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}
